<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Resultado!</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div class="container center col-sm-7">
		<h1 class="display-2 text-center">Usuario registrado</h1>
		<br>
		<blockquote class="blockquote">
			<p class="display-4">
				<strong>ID: </strong><span class="mb-0" th:text="${usuario.id}"></span>
			</p>
			<p class="display-4">
				<strong>Usuario: </strong><span class="mb-0"
					th:text="${usuario.nombreUsuario}"></span>
			</p>
			<p class="display-4">
				<strong>Nombre completo: </strong><span class="mb-0"
					th:text="${usuario.nombreCompleto}"></span>
			</p>
		</blockquote>
		<br> <a class="btn btn-lg btn-block btn-primary"
			href="/ths/nuevo">Volver</a>
	</div>
	<br>
</body>

</html>