<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista!</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
	<div class="container center">
		<h1 class="display-4 text-center">Lista de los usuarios <i class="fas fa-users"></i></h1>
		<section class="section">
			<div>
				<table class="table table-bordered ">
					<thead>
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">Usuario</th>
							<th class="text-center">Nombre completo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuarioIndex : ${listUsuarios}">
							<td class="text-center" th:text="${usuarioIndex.id}"></td>
							<td class="text-center" th:text="${usuarioIndex.nombreUsuario}"></td>
							<td class="text-center" th:text="${usuarioIndex.nombreCompleto}"></td>
						</tr>
					<tbody>
				</table>
			</div>
			<a class="btn btn-lg btn-block btn-primary" href="/ths/nuevo">Nuevo
				usuario <i class="fas fa-user-plus"></i></a>
		</section>
	</div>
	<script defer
		src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>