<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registro!</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/3a9f5153e2.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<section class="section">
			<div>
				<!-- th:object="${nusuario} tiene que ser el mismo que se recive del Model luego de la peticion GET-->
				<form action="#" th:action="@{/ths/crear}" th:object="${nusuario}" method="post">
					<div class="form-group">
						<h1 class="display-4 text-center col-md-6">Nuevo usuario <i class="fas fa-user-plus"></i></h1>
						<div class="form-group col-md-6">
							<label>ID</label>
							<!-- th:field="${usuario.id}" = th:field="*{id}" -->
							<input type="text" th:field="*{id}" class="form-control" placeholder="Ingrese id"
								required="required">
						</div>
						<div class="form-group col-md-6">
							<label>Usuario</label> <input type="text" th:field="*{nombreUsuario}" id="id"
								class="form-control" placeholder="Usuariuo" required="required">
						</div>
						<div class="form-group col-md-6">
							<label>Nombre completo</label> <input type="text" th:field="*{nombreCompleto}"
								class="form-control" placeholder="Nombre completo">
						</div>
						<div class="form-group col-md-6">
							<button type="submit" class="btn btn-primary btn-block">Crear <i class="fas fa-paper-plane"></i></button>
						</div>
						<div class="form-group col-md-6">
							<button type="reset" class="btn btn-secondary btn-block">Limpiar <i class="fas fa-eraser"></i></button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>

</html>